shared/n8n-templates/Smoke_Test_Foundation.json
{
  "name": "OPS-61_Foundation_Smoke_Test",
  "nodes": [
    {
      "parameters": {},
      "id": "c3d4e5f6-0001-4000-8000-000000000001",
      "name": "When clicking Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// One clearly-marked SMOKE_TEST row per tab. Every text field carries the\n// SMOKE_TEST marker so cleanup (manual or verify_foundation.py --cleanup)\n// can find and delete them.\nreturn [\n  { json: { tab: 'Loomless', row: {\n    Company_Name: 'SMOKE_TEST', Owner_Full_Name: 'Smoke Test', First_Name: 'Smoke',\n    Email: 'smoke@test.local', Website: 'https://smoke.test',\n    Research_Summary: 'SMOKE_TEST', Personalized_First_Line: 'SMOKE_TEST', status: 'pending' } } },\n  { json: { tab: 'JV_Targets', row: {\n    Name: 'SMOKE_TEST', Email: 'smoke@test.local', Social_Links: 'SMOKE_TEST',\n    Audience_Summary: 'SMOKE_TEST', Current_Offers: 'SMOKE_TEST',\n    Source_URL: 'https://smoke.test', status: 'jv_research_complete' } } },\n  { json: { tab: 'Terminator_Loom', row: {\n    First_Name: 'Smoke', Last_Name: 'Test', Website: 'https://smoke.test',\n    status: 'ready_for_video', video_drive_link: 'SMOKE_TEST', error_log: 'SMOKE_TEST' } } },\n  { json: { tab: 'Inbound', row: {\n    Name: 'SMOKE_TEST', Profile_URL: 'https://smoke.test',\n    Q1_Current_Revenue: 'SMOKE_TEST', Q2_12_Month_Goal: 'SMOKE_TEST',\n    Q3_DM_Permission: 'Yes', status: 'warm_inbound',\n    operator_action: 'direct_intent_calendly' } } },\n];"
      },
      "id": "c3d4e5f6-0002-4000-8000-000000000002",
      "name": "Build 4 Test Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_Sub_WriteRowToSheet_ID",
          "mode": "list",
          "cachedResultName": "Sub_WriteRowToSheet"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Write Row to Each Tab",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collapse the 4 write results into a single Discord notification.\nconst count = $input.all().length;\nreturn [\n  {\n    json: {\n      level: 'info',\n      pipeline: 'loomless',\n      message: 'Foundation smoke test fired',\n      fields: { rows_written: count, marker: 'SMOKE_TEST' },\n    },\n  },\n];"
      },
      "id": "c3d4e5f6-0004-4000-8000-000000000004",
      "name": "One Summary Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_Sub_NotifyDiscord_ID",
          "mode": "list",
          "cachedResultName": "Sub_NotifyDiscord"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0005-4000-8000-000000000005",
      "name": "Notify Discord",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "When clicking Test": {
      "main": [
        [
          {
            "node": "Build 4 Test Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 4 Test Rows": {
      "main": [
        [
          {
            "node": "Write Row to Each Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Row to Each Tab": {
      "main": [
        [
          {
            "node": "One Summary Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "One Summary Item": {
      "main": [
        [
          {
            "node": "Notify Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "ops-61"
    },
    {
      "name": "foundation"
    }
  ]
}
